name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Run a one-line script
      run: echo Hello, world!
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.

    - name: Install Arduino CLI
      uses: arduino/setup-arduino-cli@v1.0.0
    -name: Compile sketch
      run: arduino-cli compile Loop-controller/Software/tunnerController.ino -fqbn arduino:avr:uno
