name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Show worskpace location
      run: |
        ls
        echo Checked out @
        pwd
    - name: Install Arduino-CLI
      uses: arduino/setup-arduino-cli@v1.0.0
    - name: Updating index and getting third-party boards 
      run: |
        arduino-cli core update-index --additional-urls https://raw.githubusercontent.com/sparkfun/Arduino_Boards/master/IDE_Board_Manager/package_sparkfun_index.json
        arduino-cli core install Sparkfun:avr
    - name: Arduino-CLI update index and install core avr
      run: |
        arduino-cli core update-index
        arduino-cli core install arduino:avr
    - name: Install arduino libraries
      run: |
        arduino-cli lib install LiquidCrystal
    - name: Compile sketch
      run: arduino-cli compile ./Software/tunnerController/tunnerController.ino --fqbn arduino:avr:uno
